button {
  -webkit-appearance: none;
  border: none;
  border-radius: 2px;
  height: 31px;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $cleat-brown;
  font-size: .75em;
  color: $primary-white;
  @include default-shadow();

  &:focus {
    outline: none;
    background-color: $focus-brown;
  }

  &:hover {
    background-color: $focus-brown;
  }

  &:active {
    box-shadow: none;
    background-color: $cleat-brown;
  }
}
