.form-header {
  @include flex(row, space-between, center);

  a {
    color: $cleat-yellow;
  }
}

form {
  width: 100%;

  .form-field {
    margin-bottom: 15px;
    @include flex(row, flex-start, center);

    &.last {
      margin-bottom: 25px;
    }

    > label {
      flex: 1 1 40%;
      @include flex(column, flex-start, center);
    }

    > input, select {
      flex: 1 1 60%;
    }

  }

  input, select {
    font: 1em 'Dosis', sans-serif;
    height: 30px;
    background-color: $primary-white;
    border: 1px solid $accent-gray;
    border-radius: 0;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      @include focus-outline();
    }
  }

}
