.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    color: $cleat-yellow;
  }
}

form {
  width: 100%;

  .form-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;

    &.last {
      margin-bottom: 25px;
    }

    > label {
      display: flex;
      flex: 1 1 40%;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
    }

    > input, select {
      flex: 1 1 60%;
    }

  }

  input, select {
    font: 1em 'Dosis', sans-serif;
    height: 30px;
    background-color: $primary-white;
    border: 1px solid $accent-gray;
    border-radius: 0;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      @include focus-outline();
    }
  }

}
