$cleat-brown: #49311c;
$focus-brown: #61564d;
$cleat-yellow: #d69d37;
$primary-black: #212121;
$primary-white: #fff;

$primary-gray: #e1e1e1;
$secondary-gray: rgba(0, 0, 0, .54);
$accent-gray: rgba(0, 0, 0, .3);
