body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  background-color: $primary-gray;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3 {
  color: $cleat-brown;
}

h2 {
  font-size: 1.25em;
  text-transform: uppercase;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

aside {
  width: 100%;
  max-width: 350px;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}


@media (min-width: 600px) {

  aside {
    margin-left: 100px;
  }

  .page-content {
    flex-direction: row;
  }
}
