body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  background-color: $primary-gray;
  margin: 0;
}

h1, h2, h3 {
  color: $cleat-brown;
}

h2 {
  font-size: 1.25em;
  text-transform: uppercase;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

app-root {
  @include flex(column, flex-start, flex-start);

  > main {
    max-width: 1440px;
    width: 100%;
    margin: 81px auto 0;
    padding: 20px 10px 0;
  }

  aside {
    width: 100%;
    max-width: 350px;
  }

  .page-content {
    @include flex(column, flex-start, center);
  }


  @media (min-width: 600px) {

    aside {
      margin-left: 100px;
    }

    .page-content {
      flex-direction: row;
    }
  }
}
